    <!-- CONTACT Section  -->
        <div class="row">
            <div class="col-md-6 px-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.771344860765!2d-102.33228398513076!3d21.866353785550693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ec0703992f2b%3A0xbe57253f4cb8cc44!2sBlvrd%20Juan%20Pablo%20II%2C%20Pirules%2C%20Aguascalientes%2C%20Ags.!5e0!3m2!1ses-419!2smx!4v1657732173202!5m2!1ses-419!2smx" style="width: 100%; height: 100%; min-height: 400px; border:0;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <div class="col-md-6 px-5 has-height-lg middle-items">
                <h3>BÚSCANOS</h3>
                <p>Nuestras oficinas están ubicadas en Aguascalientes Aguascalientes, México.</p>
                <div class="text-muted">
                    <p><span class="ti-location-pin pr-3"></span> Aguascalientes MX, Blvrd Juan Pablo II, La Cantera, 20200 Exhacienda</p>
                    <p><span class="ti-email pr-3"></span>redpic@website.com</p>
                </div>
            </div>
        </div>
    <!-- page footer  -->
    <div class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
        <div class="row">
            <div class="col-sm-4">
                <h3>EMAIL US</h3>
                <P class="text-muted">redpic@website.com</P>
            </div>
            <div class="col-sm-4">
                <h3>LLÁMANOS</h3>
                <P class="text-muted">(449) 514-46-74</P>
            </div>
            <div class="col-sm-4">
                <h3>ENCUÉNTRANOS</h3>
                <P class="text-muted">Aguascalientes MX, Blvrd Juan Pablo II, La Cantera, 20200 Exhacienda</P>
            </div>
        </div>
    </div>
    <div class="bg-dark text-light text-center border-top wow fadeIn">

    </div>